
//
// VARIABLES
//

// Colors
// Colors
$white-base: #ffffff;
$white-medium: #F0F0F0;

$beige-fade: #FAF9F7;
$beige-base: #F4F1EC;
$beige-dark: #EAE8E2;

$blue-faint:  #EFFAFF;
$blue-fade:  #D8F3FF;
$blue-fade-hover: #C3E1EE;
$blue-base:  #439FC6;
$blue-dark:  #3180A1;
$blue-heavy: #24647E;

$green-faint: #F5F5F5;
$green-fade:  #CCE398;
$green-base: #9FD50B;
$green-medium: #91B827;
$green-dark: #75971A;

$grey-faint: #F9F9F9;
$grey-fade:  #ececec;
$grey-base:  #9b9b9b;
$grey-medium: #4E4E4F;
$grey-dark: #494947;

$slate-fade: #88A0AA;
$slate-base: #49565B;
$slate-medium: #354147;
$slate-dark: #2B353A;
$slate-heavy: #1E2930;

$black-fade: #363636;
$black-base: #2a2a2a;
$black-medium: #1a1a1a;
$black-dark: #000000;

$red-base: #F25153;
$red-medium: #D63C3E;

$yellow-fade: #FDF5D9;
$yellow-base: #EDC001;
$yellow-medium: #D5AC00;
$yellow-dark: #A58500;

$purple-light: #979fff;
$purple-fade: #4752D3;
$purple-base: #202778;
$purple-medium: #05103e;
$purple-dark: #090f29;
$purple-heavy: #040816;

$turq-base: #40B3B4;
$turq-dark: #258F91;
$turq-heavy: #1E7576;

$orange-fade: #fcce97;
$orange-base: #e9b472;
$orange-medium: #d4984d;
$orange-dark: #633711;


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

$base-size: 8px;

$_05em: $base-size / 2;
$_1em: $base-size;
$_2em: $base-size * 2;
$_3em: $base-size * 3;
$_4em: $base-size * 4;
$_5em: $base-size * 5;
$_6em: $base-size * 6;
$_7em: $base-size * 7;
$_8em: $base-size * 8;
