<footer class="row-dark">
  <div class="content text-center">
    <h2 class="text-logo">
      Tech<span class="text-cta">Bikers</span>
    </h2>
    <p>
      {{ site.footer_cta }}
    </p>
    <a href="{{site.application_url}}" target="_blank" class="btn-theme space-top-xs-md">
      Apply to join
    </a>
  </div>
  <div class="content space-top-xs-xl">
    <div class="grid justify-between no-response align-middle">
      <div class="cell">
        TechBikers - ©2022
      </div>
      <div class="cell-shrink grid no-response gutter-xs-lg">
        <div class="cell">
          <a href="https://twitter.com/cee/" target="_blank">
            <image src="{{ site.baseurl }}/images/twitter-white.svg" width="32"/>
          </a>
        </div>
        <div class="cell">
          <a href="https://www.instagram.com/iconografico/" target="_blank">
            <image src="{{ site.baseurl }}/images/instagram-white.svg" width="32"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
