<footer class="row-dark">
  <div class="content text-center">
    <h2 class="text-logo">
      Tech<span class="text-cta">Bikers</span>
    </h2>
    <p>
      {{ site.footer_cta }}
    </p>
    <a href="{{site.donation_url}}" target="_blank" class="btn-theme space-top-xs-md">
      Donate now
    </a>
  </div>
  <div class="content space-top-xs-xl">
    <div class="grid justify-between no-response align-middle">
      <div class="cell">
        TechBikers ©2022
        {% for item in site.menus.footer  %}
          • <a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a>
        {% endfor %}
      </div>
      <div class="cell-shrink grid no-response gutter-xs-lg">
        <div class="cell">
          <a href="https://twitter.com/techbikers/" target="_blank">
            <image src="{{ site.baseurl }}/images/twitter-white.svg" width="32"/>
          </a>
        </div>
        <div class="cell">
          <a href="https://www.instagram.com/techbikersgo/" target="_blank">
            <image src="{{ site.baseurl }}/images/instagram-white.svg" width="32"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
