<div class="panel active lg text-center post space-top-xs-lg">
  <h2>Join our next ride</h2>
  <p>
    Subscribe to our mailing list to get notified about future rides.
  </p>

  <form class="mailchimp" action="https://techbikers.us21.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="e1f4c6a6796201aecb0dbd6a6">
    <input type="hidden" name="id" value="f2dceceeed">

    <div class="grid gutter-xs-sm space-top-xs-md">
      <div class="cell">
        <input type="email" placeholder="Enter your email address..." autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" required>
      </div>
      <div class="cell-shrink">
        <input type="submit" class="btn-theme btn-full-mob" name="submit" value="Subscribe">
      </div>
    </div>

  </form>
</div>
