<nav>
  <h3 class="text-logo space-bottom-xs-none space-top-xs-none">
    <a href="{{ site.baseurl }}/">Tech<span class="text-cta">Bikers</span></a>
  </h3>
  <div class="grid gutter-xs-lg">
    {% for item in site.data.nav %}
      <div>
        {% if page.url == item.url %}
          <a href="{{site.baseurl}}{{item.url}}" class="active">{{item.title}}</a>
        {% else %}
          <a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a>
        {% endif %}
      </div>
    {% endfor %}
 </div>
</nav>
