{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% capture posttime %}{{ride.date | date: '%s'}}{% endcapture %}
{% assign duration = ride.duration | times: 86400 %}

<div class="panel grid align-middle post space-bottom-xs-md {% if posttime > nowunix %}active{% endif %}">
  <div class="cell">
    {% if posttime > nowunix %}
      <p class="text-light">UPCOMING</p>
    {% endif %}
    <h3 class="space-top-xs-none">
      <a href="{{ site.baseurl }}{{ ride.url }}">{{ ride.title }} →</a>
    </h3>
    <p class="text-light space-bottom-xs-none">
      {{ ride.date | date: "%d %b" }} - {{ ride.date | date: "%s" | plus: duration | date: "%d %b %Y"}}
    </p>
  </div>
  <div class="cell-shrink">
    <a href="{{ site.baseurl }}{{ ride.url }}" class="btn-theme btn-full-mob space-right-md-md">
      Learn more
    </a>
  </div>
</div>
