.artwork {
  background: $purple-base;
  position: relative;
  max-width: 220px;
  margin: 0 auto;
  width: 100%;
  border-radius: $_2em;
  overflow: hidden;
  border: 4px solid #FFFFFF;
  box-shadow: 0 19px 34px 8px rgba(0,0,0,0.31);
  @include bp(md) {
    margin: 0;
    max-width: 300px;
    border-radius: $_3em;
    border: 6px solid #FFFFFF;
  }

  .text {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: $_1em;
    height: 100%;
    h1 {
      font-size: 22px;
      line-height: 30px;
      font-weight: 700;
      margin-top: 90px;
      text-transform: uppercase;
      margin-bottom: 4px;
      @include bp(md) {
        margin-top: 120px;
        margin-bottom: 8px;
        font-size: 32px;
        line-height: 38px;
      }
    }
    p {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      @include bp(md) {
        font-size: 16px;
      }
    }
    p.author {
      position: absolute;
      bottom: $_2em;
      width: 100%;
      color: $white-base;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 500;
    }
  }

  img {
    width: 100%;
    vertical-align: middle;
    height: auto;
  }
}
