// Buttons

// Make button
@mixin makebutton($bgcolor, $bgcolor-hover, $color) {
  background: $bgcolor;
  display: inline-block;
  border: none;
  text-align: center;
  border-radius: $_5em;
  padding :$_2em $_3em;
  font-family: 'Rubik';
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color:$color !important;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  transition: background-color 0.15s ease;
  &:hover {
    background: $bgcolor-hover;
    color: $color !important;
    text-decoration: none;
  }
  &:focus {
    outline: none;
    border:none !important;
  }
}

// Define button colors
.btn-theme      {@include makebutton($theme-fade, $theme-light, $white-base);}
.btn-theme-dark {@include makebutton($theme-dark, $theme-heavy, $white-base);}

// Button states
.btn-full {
  width:100%;
}

.btn-full-mob {
  @include bp-max(sm) {
    width: 100%;
  }
}
.btn-xs {
  font-size: 14px;
  padding: $_1em $_2em;
}

.btn-sm {
  font-size: 16px;
  padding: ($_1em + $_05em) $_2em;
}

.btn-lg {
  padding: $_2em $_3em;
  font-size: 20px;
}

.btn-xl {
  padding: $_3em $_4em;
  font-size: 24px;
  border-radius: 6px;
}
