html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
  background: $theme-dark;
}

.content {
  max-width: 920px;
  padding: 0 $_2em;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
  @include bp(sm) {
    padding: 0 $_4em;
  }
}

.content-thin {
  max-width: 600px;
  padding: 0 $_2em;
  margin: 0 auto;
  box-sizing: border-box;
}

section {
  padding: $_3em 0;
  background-color: $white-base;
  color: $theme-dark;
  @include bp(sm) {
    padding: $_8em 0;
  }
  &.flush-bottom {
    padding-bottom: 0;
  }
  &.flush-top {
    padding-top: 0;
  }
  &.row-dark {
    background: $theme-dark;
    color: $white-base;
  }
}

header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  color: $theme-dark;
  z-index: 1;
  overflow: hidden;

  .content, nav {
    z-index: 10;
  }

  .header-text {
    margin: $_2em auto;
    @include bp(sm) {
      margin: $_5em auto;
    }
  }

  &.index {
    .header-text {
      max-width: 600px;
      margin: $_6em auto 220px;
      @include bp(sm) {
        margin: $_8em auto 350px;
      }
    }
  }

  .hero {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: url("images/header.svg") no-repeat;
    background-size: 1300px;
    background-position: center 101%;
    z-index: -1;
    @include bp(sm){
      background-size: 2100px;
    }

    @include bp(md){
      background-size: cover;
    }

    @include bp(xl) {
      background-size: 2200px;
    }
  }

  .bar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(177deg, rgba(255,241,226,1) 0%, rgba(255,241,226,1) 70%, rgba(251,221,189,1) 70%, rgba(251,221,189,1) 78%, rgba(9,15,41,1) 78%);
    z-index: -3;
  }

  .cloud {
    position: absolute;
    height: 100%;
    width: 40%;
    top: 0;
    min-width: 250px;
    max-width: 800px;
    z-index: -2;

    &.right {
      background: url("images/header/cloud-right.svg") no-repeat;
      background-size: contain;
      right: 0;
      top: 120px;
      @include bp(sm){
        top: 0px;
      }
    }
    &.left {
      background: url("images/header/cloud-left.svg") no-repeat;
      background-size: contain;
      left: 0;
    }
  }

  .tree {
    position: absolute;
    height: 90%;
    width: 25%;
    bottom: 0px;
    z-index: 1;
    &.right {
      background: url("images/header/tree-right.svg") no-repeat right bottom;
      background-size: contain;
      right: -25%;
      @include bp(md){
        right: 0
      }
    }
    &.left {
      background: url("images/header/tree-left.svg") no-repeat left bottom;
      background-size: contain;
      left: -25%;
      @include bp(md){
        left: 0;
      }
    }
  }


  &.dark {
    background: $theme-dark;
    color: $white-base;
  }

  nav {
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    padding: $_1em $_1em $_1em $_2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include bp(sm) {
      padding: $_2em $_3em;
    }

    img {
      vertical-align: middle;
    }
    .nav-link {
      font-size: 18px;
      text-decoration: none;
      font-weight: 500;
      padding: $_2em 0;
      &.active {
        border-bottom: 4px solid $theme-fade;
      }
    }
  }
}

.img-avatar {
  border-radius: 50%;
  width: $_4em;
  height: $_4em;
}

.img-full {
  width: 100%;
}

footer {
  border-radius: 4px;
  padding: $_6em 0;
  &.row-dark {
    background: $theme-heavy;
    color: $white-base;
  }
}
