// Breakpoints

$breakpoints: (
  xs: 0px,
  sm: 600px,
  md: 900px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1480px
);

$sizes: (
  none: 0px,
  xs: $_05em,
  sm: $_1em,
  md: $_2em,
  lg: $_3em,
  xl: $_6em,
  xxl: $_8em,
  xxxl: 80px
);

@mixin bp($point) {
  @if $point == xs {
    @media (min-width: 0px)  { @content; }
  }
  @if $point == sm {
    @media (min-width: 600px)  { @content; }
  }
  @else if $point == md {
    @media (min-width: 900px) { @content; }
  }
  @else if $point == lg {
    @media (min-width: 1024px) { @content; }
  }
  @else if $point == xl {
    @media (min-width: 1280px) { @content; }
  }
  @else if $point == xxl {
    @media (min-width: 1480px) { @content; }
  }
  @else if $point == nav {
    @media (min-width: 730px) { @content; }
  }
  @else if $point == sidebar {
    @media (min-width: 830px) { @content; }
  }
}

@mixin bp-max($point) {
  @if $point == xs {
    @media (max-width: 320px)  { @content; }
  }
  @if $point == sm {
    @media (max-width: 599px)  { @content; }
  }
  @else if $point == md {
    @media (max-width: 899px) { @content; }
  }
  @else if $point == lg {
    @media (max-width: 1023px) { @content; }
  }
  @else if $point == xl {
    @media (max-width: 1280px) { @content; }
  }
  @else if $point == nav {
    @media (max-width: 729px) { @content; }
  }
  @else if $point == sidebar {
    @media (max-width: 829px) { @content; }
  }
}

// Hide elements
@mixin makeHidden($size) {
  .hidden-until-#{$size}{
    @include bp-max($size) {
      display: none !important;
    }
  }
  .visible-until-#{$size}{
    @include bp($size) {
      display: none !important;
    }
  }
}
@include makeHidden(sm);
@include makeHidden(md);
@include makeHidden(lg);
@include makeHidden(xl);


.svg-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
}
