<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css?v={{ site.time | date: '%s' }}" />
  </head>

  <body>
    {{ content }}

    {% include footer.html %}

    {% include analytics.html %}

   <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,700,700i" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
   <script src="{{ site.baseurl }}/scripts.js?v={{ site.time | date: '%s' }}"></script>
  </body>
</html>
