---
layout: default
---

<header class="index">
  {% include nav.html %}
  <div class="content">
    <div class="header-text text-center">
      <h1 class="text-logo">
        Tech<span class="text-cta">Bikers</span>
      </h1>
      <p class="large">
        {{ site.description }}
      </p>
      <a href="{{ site.donation_url }}" target="_blank" class="space-top-xs-md btn-impact btn-theme">
        Donate now
      </a>
    </div>
  </div>
  <div class="tree right"></div>
  <div class="tree left"></div>
  <div class="cloud right"></div>
  <div class="cloud left"></div>
  <div class="hero"></div>
  <div class="bar"></div>
</header>

<section id="main" role="main" class="row-dark flush-top">
  <div class="content">
    <div class="space-bottom-xs-lg">
      {{ content }}
    </div>
    <div class="grid">
      <div class="cell">
        <h2 class="text-impact">
          {{ page.cyclists }}
        </h2>
        <p>Cyclists</p>
      </div>
      <div class="cell">
        <h2 class="text-impact">
          {{ page.raised }}<span class="text-light">k</span>
        </h2>
        <p>Raised since 2012</p>
      </div>
      <div class="cell">
        <h2 class="text-impact">
          {{ page.ridden }}<span class="text-light">km</span>
        </h2>
        <p>Ridden</p>
      </div>
    </div>
    <div class="posts space-top-xs-lg space-bottom-xs-xl">
      <h2 class="space-bottom-xs-md">
        🚴 Our rides
      </h2>
      {% for ride in site.rides reversed %}
        {% include ride.html %}
      {% endfor %}
      <div class="text-center">
        <a href="{{ site.baseurl }}/rides/" class="space-top-xs-md btn-theme">
          View all rides
        </a>
      </div>
    </div>
  </div>
  {% if content %}
  <div class="content">
    <div class="youtube">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/W-0JHYkoJUI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {{ page.sponsors | markdownify }}
  </div>
  {% endif %}
</section>
